body{
    background-color: #3099c9;
    color: rgb(255, 255, 255);
    height: auto;
}
#page-container{
    margin-bottom: 20px;
}
#bio{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.hero{
    border-radius: 50%;
    box-shadow: 7.5pt 10px 18.75pt #525252;
    
}
.port{
    display: none;
}
.page-title{
    font-size: 3.5em;
    color: #ffffff;
    text-align: left;
}
.page-subtitle{
    text-align: left;
    font-size: 1.3em;
    

}
.bio-block{
    color: #ffffff;
    width: 90%;
}
.hero-div{
    padding-top: 1rem;
    margin-top: 2rem;
    margin-right: auto;
    margin-left: auto;
}
.hero-div img{
    width: 100%;
    height: auto;
}
hr{

    border-top-color: #ffffff;
    border-top-style: dotted;
    border-top-width: 0.4rem;
    width: 20%;

}
div.thumbnail img{
    height: 400px;
    width: 100%;
   
    
}

#section_name{
    margin-top: 1.3rem;
    margin-bottom: 1rem;
    font-size: 2em;
    font-weight: 600;
    color: #ffffff;
    text-align: center;
}
.portfolio{
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
}
div.caption{
    color: #ffffff;
}
div.thumbnail a:hover{
        text-decoration: none;
}
ul{
    list-style: none;
}
.skill-set ul li:before, .star li:before{
    margin-top: 0px;
    margin-right: 1em;
    margin-left: 1em;
    content: "★";
}
.career p, .contact p {text-align: center;}
.edu p.p2 a, .contact a{color: #0027d2;}

.skill-set div{
    border: #ffffff;
    border-style: solid;
    margin: 0.5em;
    padding: 0%;
    border-radius: 0.5em;
    width: 10em;
    text-align: center;
}
.flex-container {
    /* We first create a flex layout context */
    display: flex;
     /* Then we define the flow direction 
       and if we allow the items to wrap 
     * Remember this is the same as:
     * flex-direction: row;
     * flex-wrap: wrap;
     */
     flex-flow: row wrap;
    
     /* Then we define how is distributed the remaining space */
     justify-content: space-around;
     
     padding: 0;
     margin: 0;
     list-style: none;
   }
   
   .flex-item {
     background: tomato;
     padding: 5px;
     width: 200px;
     height: 150px;
     margin-top: 10px;
     line-height: 150px;
     color: white;
     font-weight: bold;
     font-size: 3em;
     text-align: center;
   
  }
footer{
    background-color: #2767ad;
    text-align: center;
    padding: 3px;
    bottom: 0px ;
    position: fixed;
   
    width: 100%;
}
